<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:gap="http://phonegap.com/ns/1.0"
        id="6FNJX9Q597.com.strobe.testing"
        versionCode="101"
        version = "1.0.0">

  <name>Strobe, phonegap oauth</name>

  <description>
    blah
  </description>

  <author href="http://strobecorp.com"
          email="strobe@strobecorp.com">
    Strobe
  </author>

  <gap:platforms>
    <gap:platform name="android" minVersion="2.2" />
  </gap:platforms>

  <gap:plugin name="ChildBrowser" value="com.phonegap.plugins.childBrowser.ChildBrowser">
    <platform name="android" />
  </gap:plugin>

  <gap:plugin name="OauthRedirect" value="com.phonegap.plugins.oauthRedirect.OauthRedirect">
    <platform name="android" />
  </gap:plugin>

  <gap:plugin name="ChildBrowserCommand" value="ChildBrowserCommand">
    <platform name="ios" />
  </gap:plugin>

  <feature name="http://api.phonegap.com/1.0/app"/>
  <feature name="http://api.phonegap.com/1.0/network"/>
  <!-- sample preference specification -->
  <!-- <preference name="autorotate" value="false" readonly="true"/> -->
</widget>
